

.spinner {
  margin: auto;
  width: 200px;
  height: 60px;
}

.spinner > div {
  background: #195FD2;
  height: 100%;
  width: 5px;
  float: left;
  margin: 0 1px;
  animation: stretch 2s infinite;
  animation-timing-function: cubic-bezier(.62,.28,.23,.99);
}

.spinner .r1 {
  animation-delay: -1s;
}

.spinner .r2 {
  animation-delay: -.9s;
}

.spinner .r3 {
  animation-delay: -.8s;
}

.spinner .r4 {
  animation-delay: -.7s;
}

.spinner .r5 {
  animation-delay: -.6s;
}

@keyframes stretch {
  0%, 20%, 49% { 
    transform: scaleY(0.4);
    background-color: #195FD2;
  }
  
  10% { 
    transform: scaleY(1.0);
  }
  
  50%, 70%, 100% { 
    transform: scaleY(0.4);
    background-color: #91268e;
  }
  
  60% { 
    transform: scaleY(1.0);
    background-color: #91268e;
  }
}